body{
    margin: 0;
}
.nav-bar1{
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    border-radius: 5px;
    font-size: large;
}
.item{
    background-color: rgb(19, 2, 2);
    width: 150px;   
    text-align: center;
}
.item :hover{
    color: brown;
}